<ion-toolbar class="topbar" class="ion-no-border">
  <ion-title size="large">Lists</ion-title>
  <ion-icon name="person-circle-outline" class="profile" style="float: right; scale: 3; padding-right: 3%;" [routerLink]="['/account']"></ion-icon>
</ion-toolbar>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item lines="none">
          <ion-label>Lists</ion-label>
          <ion-icon class="arrow" name="arrow-forward" [routerLink]="['/lists']"></ion-icon>
        </ion-item>
        </ion-list>
    </ion-card-content>
  </ion-card>

  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed"> 
    <ion-fab-button [routerLink]="['/addtrips']" class="add">
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <app-explore-container name="Tab 5 page"></app-explore-container>
</ion-content>