<ion-toolbar class="topbar" class="ion-no-border">
  <ion-title size="large">Bookmarks</ion-title>
  <ion-icon name="person-circle-outline" class="profile" style="float: right; scale: 3; padding-right: 3%;" [routerLink]="['/account']"></ion-icon>
</ion-toolbar>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item lines="none">
          <ion-label>Locations</ion-label>
          <ion-icon class="arrow" name="arrow-forward" [routerLink]="['/bookmarks']"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item lines="none">
          <ion-label>Activities</ion-label>
          <ion-icon class="arrow" name="arrow-forward" [routerLink]="['/bookmarks']"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>

