<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
  </style>
  
<ion-content class="background-image" scroll-y="false">
  <ion-title size="large">Bon Voyage</ion-title>
  
  <div class="ion-padding">
    <p>Login below using your email and password</p>
  </div>
  <ion-list inset="true">
    <form (ngSubmit)="handleLogin($event)">
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input required [(ngModel)]="emailUsed" name="email" autocomplete type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input [(ngModel)]="passwordUsed" name="password" type="password" required></ion-input>
      </ion-item>
      <div class="ion-text-center">
        <ion-button type="submit" fill="clear">Login</ion-button>
      </div>
      <ion-item>
        <ion-label (click)="goToSignup()" class="login">If you have no account, sign up here!</ion-label>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
