.background-image{
    --background: url(../login/assets/Background.jpg) 0 0/100% 100% no-repeat;
}

ion-title{
    margin-top: -170%;
    font-family: "patrick";
    color: rgb(81, 15, 15);
    position: relative;
    margin-left: 27%;
    font-size: 200%;
    margin-bottom: 2%;
}

.ion-padding{
    font-size: 120%;
    text-align: center;
}

ion-button{
    margin-top: 50%;
    font-size: 150%;
    margin-bottom: 5%;
}

.login{
    margin-left: 15%;
}