<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" [attr.aria-hidden]="selectedTab !== 1 ? 'true':null" [class.hidden]="selectedTab !== 1" (click)="selectTab(1)" href="/tabs/tab1">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon inert name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3">
      <ion-icon inert name="airplane"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab4" href="/tabs/tab4">
      <ion-icon inert name="bookmarks"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab5" href="/tabs/tab5">
      <ion-icon inert name="list"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
