<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
  </style>

<ion-toolbar class="topbar" class="ion-no-border">
  <ion-title size="large">Destinations</ion-title>
  <ion-icon name="person-circle-outline" class="profile" style="float: right; scale: 3; padding-right: 3%;" [routerLink]="['/account']"></ion-icon>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <h3 style="padding-left:4%;">Popular Destinations</h3>

  <ion-card>
    <ion-list>
      <ion-item *ngFor="let place of places">
        <ion-label> {{ place.country_name }} </ion-label>
        <ion-checkbox (ionChange)="toggleItem(place)"></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-card>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>

