<ion-toolbar class="topbar" class="ion-no-border">
  <ion-title size="large">Bon Voyage</ion-title>
  <ion-icon name="person-circle-outline" class="profile" style="float: right; scale: 3; padding-right: 3%;"></ion-icon>
</ion-toolbar>

<ion-content [fullscreen]="true">

 
  <ion-searchbar></ion-searchbar>

  <h2 style="padding-left:4%;">Popular Destinations</h2>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
          <ion-button>View</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
          <ion-button>View</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
          <ion-button>View</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
          <ion-button>View</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <h2>Map</h2>
  <p class="mapdetails">Select location on the map to view information!</p>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>

