<ion-toolbar class="topbar" class="ion-no-border">
  <ion-title size="large">Trips</ion-title>
  <ion-icon name="person-circle-outline" class="profile" style="float: right; scale: 3; padding-right: 3%;" [routerLink]="['/account']"></ion-icon>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-list>
      <ion-item *ngFor="let item of items">
        <ion-label> {{ item.trip_name }} </ion-label>
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed"> 
    <ion-fab-button [routerLink]="['/addtrips']" class="add">
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <app-explore-container name="Tab 4 page"></app-explore-container>
</ion-content>
