<ion-toolbar class="topbar" class="ion-no-border">
  <ion-title size="large">Bon Voyage</ion-title>
  <ion-icon name="person-circle-outline" class="profile" style="float: right; scale: 3; padding-right: 3%;"></ion-icon>
</ion-toolbar>

<ion-content [fullscreen]="true">

  <h2 style="padding-left:4%;">Upcoming Trips</h2>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>London</ion-label>
          <ion-icon class="arrow" name="arrow-forward"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label>Dublin</ion-label>
          <ion-icon class="arrow" name="arrow-forward"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label>New York</ion-label>
          <ion-icon class="arrow" name="arrow-forward"></ion-icon>
        </ion-item>
  
        <ion-item lines="none">
          <ion-label>Paris</ion-label>
          <ion-icon class="arrow" name="arrow-forward"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-button class="add">
    <a class="addbutton" href="../new/new.page.html">
      <ion-icon name="add-circle" style="font-size: 25px;"></ion-icon>
    </a>
  </ion-button>

  <app-explore-container name="Tab 4 page"></app-explore-container>
</ion-content>
