.add{
    --background: rgb(81, 15, 15);
}
.arrow{
    color: rgb(81, 15, 15);
}

ion-content{
    --ion-background-color: #f7f4f5;
}

ion-title{
    font-family: "Montserrat";
    color: rgb(81, 15, 15);
    text-align: center;
    font-size: 200%;
    padding-top: 13%;
    margin-bottom: 2%;
    margin-top: 3%;
}

.profile{
    color: rgb(81, 15, 15);
    position: absolute;
    padding-bottom: 8.5%;
    padding-left: 45%;
    margin-bottom: 3%;
}

ion-card{
    --ion-background-color: #e4bac8;
}

h2{
    color: rgb(81, 15, 15);
    padding-left: 4%;
    font-weight: bold;
    font-family: "Montserrat";
}