.background-image{
    --background: url(../login/assets/Background.jpg) 0 0/100% 100% no-repeat;
}


ion-title{
    font-family: "patrick";
    color: rgb(81, 15, 15);
    position: relative;
    margin-left: 27%;
    font-size: 200%;
    padding-top: 13%;
    margin-top: -170%;
}

.ion-padding{
    padding-top: 10%;
    font-size: 110%;
    text-align: center;
}

ion-button{
    margin-top: 50%;
    color: rgb(109, 53, 63);
    font-size: 150%;
}

.login{
    margin-left: 15%;
}