<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-button (click)="goToSearch()"></ion-button>
    <ion-toolbar>
      <ion-title size="large">search</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="fetchData()"></ion-searchbar>

<ion-list>
  <ion-item *ngFor="let country_name of country_name">
    <ion-label>{{ country_name.name }}</ion-label>
  </ion-item>
</ion-list>
</ion-content>
