<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-item>
        <ion-button (click)="goBack()" class="back-button">Back</ion-button>
      <ion-title size="large" class="heading">Account</ion-title>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <div class="photo">
    <input type="file" (change)="onImageSelected($event)" accept="image/*" hidden #fileInput>

    <img [src]="profilePicture || 'https://www.pngkey.com/png/full/52-523516_empty-profile-picture-circle.png'" 
          (click)="fileInput.click()"
          class="upload-placeholder"
          alt="Upload">

    <button *ngIf="profilePicture" (click)="deleteImage()" class="remove-btn">
      <ion-icon name="close"></ion-icon> Remove Image
    </button>
  </div>

  <form class="update" (ngSubmit)="updateProfile()" class="updateProfile">Update Account?
    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input type="text" [(ngModel)]="signupdata.username" name="username" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" [(ngModel)]="signupdata.full_name" name="full_name" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" class="updateProfile">
      Update Profile
    </ion-button>
  </form>

  <ion-button (click)="logout()" class="logout">Logout</ion-button>

  </ion-content>
