ion-content{
    --ion-background-color: rgb(255, 243, 244);
}

.back-button {
    --background: #a26382;
}
.heading {
    margin-left: 13%;
}

.update{
    margin-top: 160%;
    font-size: 100%;
    margin-bottom: 5%;
    font-family: "Montserrat";
    color: rgb(67, 11, 24);
    background-color: rgb(254, 210, 218);
    border-radius: 20px;
    width: 50%;
    margin-left: 25%;
}