<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-item>
        <ion-button (click)="goBack()" class="back-button">Back</ion-button>
      <ion-title size="large" class="heading">Account</ion-title>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-label></ion-label>

  <ion-button class="update">Update Account?</ion-button>
</ion-content>
