ion-content{
    --ion-background-color: rgb(255, 243, 244);
}

.back-button {
    --background: #a26382;
}
.heading {
    margin-left: 13%;
}

ion-card{
    --ion-background-color: #e4bac8;
}

ion-list{
    font-family: "funnelsans";
}

.update{
    margin-top: 160%;
    font-size: 100%;
    margin-bottom: 5%;
    font-family: "Montserrat";
    color: rgb(67, 11, 24);
    background-color: rgb(254, 210, 218);
    border-radius: 20px;
    width: 50%;
    margin-left: 25%;
}

#update
{
    margin-top: 5%;
}

.remove-btn 
{
    background: rgb(232, 155, 99);
    color: white;
    font-family: 'Hobo BT', sans-serif;
    width: 120px;
    height: 30px;
    margin-top: 2%;
    border-radius: 10px;

    margin-left: auto;
    margin-right: auto;
}
.remove-btn:active
{
    --color: rgb(216, 109, 33);
}
.photo
{
    display: flex;
    margin-top: 10%;
    margin-bottom: 15%;
    margin-left: 25%;
    display: flex;
    width: 50%;
    flex-direction: column;
}

.updateProfile
{
    justify-self: center;
    width: 60%;

    margin-top: 20px;
    --background: #e4bac8;
}
.logout{
    justify-self: center;
    width: 40%;
    margin-left: 29.5%;
    margin-top: 40%;
    --background: #e4bac8;
}